* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*------Shared-style-------*/

.font-inter {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
}

.common-alignment {
	width: 85%;
	max-width: 1360px;
	margin: 0 auto;
}

.p-font-16 {
	font-size: 16px;
}

.btn {
	color: #ffffff;
	font-size: 16px;
	font-weight: 600;
	padding: 12px 16px;
	background-color: #469165;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.btn:hover {
	filter: brightness(1.2);
}

h2 {
	font-size: 48px;
	font-weight: bold;
	color: #001931;
	padding-bottom: 16px;
}

.green-sign {
	color: #30b868;
}

.gray-writing {
	color: #627382;
	line-height: 20px;
}

a {
	text-decoration: none;
}

/*---------main-style----------*/

/*header*/

nav {
	background-color: #ffffff;
}

#nav-content {
	display: flex;
	justify-content: space-between;
	margin-top: 16px;
	align-items: center;
	padding-bottom: 24px;
}

#nav-content .nav-manu {
	display: flex;
	gap: 32px;
	list-style-type: none;
}

#nav-content .nav-manu a {
	color: #000000;
	font-size: 16px;
	font-weight: 500;
}

#header-banner {
	background: url("../assets/hero-bg.png") no-repeat center;
	padding: 115px 0 179px 0;
}

#header-banner .banner-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#header-banner .banner-container .early-access {
	display: flex;
	gap: 1px;
	align-items: center;
	background-color: #ffffff;
	border-radius: 1000px;
	padding: 8px 12px;
	margin-bottom: 16px;
}

#header-banner .banner-container .early-access p,
#header-banner .banner-container .banner-headline h1 span {
	color: #469165;
}

#header-banner .banner-container .banner-headline {
	width: 57%;
	max-width: 770px;
	padding-bottom: 16px;
}

#header-banner .banner-container .banner-headline h1 {
	font-size: 72px;
	font-weight: bold;
	line-height: 84px;
	color: #ffffff;
}

#header-banner .banner-container .banner-writings {
	padding-bottom: 32px;
}
#header-banner .banner-container .banner-writings p {
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
}

#header-banner .banner-container .banner-buttons .clear-button {
	/*padding: 16px;*/
	background-color: transparent;
	/*color: #FFFFFF;*/
	border: #ffffff 2px solid;
	transition: background-color 0.3s ease;
}

#header-banner .banner-container .banner-buttons .clear-button:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

#header-banner .banner-container .banner-buttons button {
	margin-left: 16px;
}

/*Notes-container*/

#notes-container .text-container {
	padding-top: 50px;
	text-align: center;
}

#notes-container .text-container p {
	padding-bottom: 44px;
}
#notes-container .cards-container {
	display: flex;
	gap: 24px;
	justify-content: space-between;
}

#notes-container .cards-container .card {
	text-align: center;
	padding: 70px 24px 0 24px;
	/*border: black solid 1px;*/
	box-shadow: 0 -5px 20px -15px rgba(0, 0, 0, 0.5);
	border-radius: 8px;
}

#notes-container .cards-container .card .icon-container {
	background-color: #f95555;
	border-radius: 50px;
	padding: 14px;
	margin-bottom: 16px;
	display: inline-flex;
}

#notes-container .cards-container .card h3 {
	font-size: 24px;
	font-weight: 600;
	color: #001931;
	padding-bottom: 16px;
}

#notes-container .cards-container .card p {
	font-size: 16px;
	padding-bottom: 22px;
}

/*second-brain*/

#second-brain-container {
	display: flex;
	gap: 60px;
	padding: 120px 0 120px 0;
	justify-content: center;
	background-color: #ffffff;
	align-items: center;
}

#second-brain-container .text-container .the-solution {
	color: #469165;
	padding-bottom: 16px;
	font-weight: 500;
}

#second-brain-container .text-container .gray-writing {
	padding-bottom: 40px;
}

#second-brain-container .text-container .point {
	padding-bottom: 16px;
	color: #001931;
	line-height: 20px;
}

/*Ready-to-think*/

#ready-to-think {
	padding-bottom: 120px;
}

#ready-to-think .content-container {
	background-color: #f7f6f2;
	text-align: center;
	padding-top: 80px;
}
#ready-to-think .content-container h2 {
	font-size: 40px;
}

#ready-to-think .content-container p {
	padding-bottom: 16px;
}
#ready-to-think .content-container .button-and-text button {
	margin-bottom: 16px;
}

#ready-to-think .content-container .button-and-text p {
	padding-bottom: 80px;
}

/*footer*/

footer {
	background-color: #001931;
}

.footer-container {
	padding-top: 120px;
}

.footer-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 110px;
}
.footer-content .social p {
	color: #ffffff;
	font-size: 20px;
	font-weight: 500;
	line-height: 28px;
	padding-bottom: 16px;
}

.footer-content .social .x,
.linked-in {
	padding-right: 16px;
}

.footer-container .copyright {
	text-align: center;
	padding-bottom: 30px;
}
.footer-container .copyright hr{
	border: 0;
	border-top: 1px solid #E5E7EB;
	opacity: 0.1;
	margin-bottom: 30px;
}
.footer-container .copyright p {
	color: #ffffff;
	font-size: 14px;
	line-height: 24px;
}


